@model PageModel<FeedbackModel>

@{
    ViewBag.Title = Html.LocalizationString("title_feedbacks");
}

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>
                @Html.LocalizationString("id")
            </th>
            <th>
                @Html.LocalizationString("email")
            </th>
            <th>
                @Html.LocalizationString("feedback_info")
            </th>
        </tr>
    </thead>

    @foreach (var item in Model.Items)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.UserEmail</td>
            <td>@item.Info</td>
        </tr>
    }
</table>

@Html.Partial("_Paging")