@model PageModel<UserModel>

@{
    ViewBag.Title = Html.LocalizationString("title_users");
}

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>
                @Html.LocalizationString("id")
            </th>
            <th>
                @Html.LocalizationString("user_fullname")
            </th>
            <th>
                @Html.LocalizationString("email")
            </th>
            <th>
                @Html.LocalizationString("user_rolename")
            </th>
            <th>
                @Html.LocalizationString("language")
            </th>
        </tr>
    </thead>

    @foreach (var item in Model.Items)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.FullName</td>
            <td>@item.Email</td>
            <td>@item.RoleName</td>
            <td>@item.Language</td>
        </tr>
    }
</table>

@Html.Partial("_Paging")



