@using set_basic_aspnet_mvc.Helpers
@model set_basic_aspnet_mvc.Models.LoginModel

@{
    ViewBag.Title = Html.LocalizationString("title_user_new");
}

<div class="col-md-5 col-md-offset-4">
    <div class="panel panel-default">
        <div class="panel-heading">
            <span><a href="/user/passwordreset">@Html.LocalizationString("password_forgot")</a></span>
        </div>
        <div class="panel-body">
            <form class="form-horizontal" action="/user/new" method="post" id="frm" name="frm">
                <div class="form-group">
                    <label for="email" class="col-sm-3 control-label hidden-xs">
                        @Html.LocalizationString("full_name")
                    </label>
                    <div class="col-sm-9">
                        <input type="email" class="form-control" id="fullname" name="fullname" placeholder="@Html.LocalizationString("full_name")" value="@Model.FullName" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="email" class="col-sm-3 control-label hidden-xs">
                        @Html.LocalizationString("email")
                    </label>
                    <div class="col-sm-9">
                        <input type="email" class="form-control" id="email" name="email" placeholder="@Html.LocalizationString("email")" value="@Model.Email" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="password" class="col-sm-3 control-label hidden-xs">
                        @Html.LocalizationString("password")
                    </label>
                    <div class="col-sm-9">
                        <input type="password" class="form-control" id="password" name="password" placeholder="@Html.LocalizationString("password")" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-3 col-sm-9">
                        <button type="submit" class="btn btn-primary btn-md btn-block">@Html.LocalizationString("btn_new_user")</button>
                    </div>
                </div>
                @Html.AntiForgeryToken()
            </form>
        </div>
    </div>
</div>

@section script
{    
    <script>
        $(function () {
            $("form#frm").validate({
                rules: {
                    fullname: {
                        required: true
                    },
                    password: {
                        required: true
                    },
                    email: {
                        required: true,
                        email: true
                    }
                },
                messages: {
                    fullname: {
                        required: "*"
                    },
                    password: {
                        required: "*"
                    },
                    email: {
                        required: "*",
                        email: "@Html.LocalizationString("error_email_not_valid")"
                    }
                }
            });
        });
    </script>
}



