@model PasswordResetModel

@{
    ViewBag.Title = Html.LocalizationString("title_user_password_reset");
}

<div class="col-md-5 col-md-offset-4">
    <div class="panel panel-default">
        <div class="panel-heading">
            <span>
                <a href="/user/login">@Html.LocalizationString("login")</a>
            </span>
        </div>
        <div class="panel-body">
            <form class="form-horizontal" action="/user/passwordreset" method="post" id="frm" name="frm">

                <div class="form-group">
                    <label for="email" class="col-sm-3 control-label hidden-xs">
                        @Html.LocalizationString("email")
                    </label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" name="email" id="email" placeholder="@Html.LocalizationString("email")" value="@Model.Email" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-3 col-sm-9">
                        <button type="submit" class="btn btn-primary btn-md btn-block">@Html.LocalizationString("btn_send_password_reset_link")</button>
                    </div>
                </div>

                @Html.AntiForgeryToken()
            </form>
        </div>
    </div>
</div>

@section script
{
    <script>
        $(function () {
            $("form#frm").validate({
                rules: {
                    email: {
                        required: true,
                        email: true
                    }
                },
                messages: {
                    email: {
                        required: "*",
                        email: "@Html.LocalizationString("error_email_not_valid")"
                    }
                }
            });
        });
    </script>
}